[DEFAULT]
ServerAliveInterval = 45
Compression = yes
CompressionLevel = 9
ForwardX11 = yes

[client.example]
User = ruthvik

[project.server.example]
Port = 50022
ForwardX11 = no


from configparser import ConfigParser
file='config.ini'
config=ConfigParser()
config.read(files)
print(config[names])